body{
    background-image: url('../IMGS/black-Linen.png');
}

.titulo{
    font-size: 4em;
    font-family: 'Carter One', cursive;
}

table {
	width: 900px !important;
	border-radius: 15px;
	font-size: 25px;
    margin-top: 25px;
	margin-bottom: 0;
	padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    margin-left: 110px;
    text-align: center;
    border-left: 0px solid black;
    border-right: 0px solid black;
}

th {
	font-size: 25px;
	font-weight: 700;
    text-align: center;
    background-image: url('../IMGS/carbon_fibre.png');
    color: white;
}

td{
    background-image: url('../IMGS/black-Linen.png');
    color: white;
}

@media screen and (max-width: 580px){
    .titulo {
        margin-left: 100px;
    font-size:30px;  
    }
    .mover {
        margin-left:175px;
    
    }
    .h2{
        margin-left: 50px;
        position:-webkit-sticky;
    }
    

}
@media screen and (min-width: 581px) and (max-width: 1500px){
    .titulo {
        margin-left: 100px;
    font-size:50px;  
    }
}
