/*#Region Responsive pc*/
@media screen and (min-width: 960px){
    /* Aquí van todos los estilos CSS */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1400' height='800' viewBox='0 0 1400 800'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectángulo_9' data-name='Rectángulo 9' width='1400' height='800' rx='30' transform='translate(1354 1580)' fill='%23101010'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_3' data-name='Grupo 3' transform='translate(-988 -1080)'%3E%3Crect id='Rectángulo_10' data-name='Rectángulo 10' width='1400' height='800' rx='30' transform='translate(988 1080)' fill='%23101010'/%3E%3Cg id='Enmascarar_grupo_2' data-name='Enmascarar grupo 2' transform='translate(-366 -500)' clip-path='url(%23clip-path)'%3E%3Ccircle id='Elipse_3' data-name='Elipse 3' cx='447' cy='447' r='447' transform='translate(1234 1580)' fill='rgba(27,20,100,0.35)'/%3E%3Ccircle id='Elipse_4' data-name='Elipse 4' cx='309' cy='309' r='309' transform='translate(2329 1695)' fill='rgba(255,51,226,0.3)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

    backdrop-filter: blur(60px);
    height: 100vh;
}

.main-nav{
    
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
}

.Menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    margin-left: 550px;
    margin-top: 20px;
}

.menu__item{
    margin: 0 15px;
}

.Menu__link{
    color: white;
    text-decoration: none;
    
}

.Menu-Bar{
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.uno, .dos, .tres{
    
    width: 100%;
    background: white;
    height: 3px;
    transition: all 0.5s;
}

.dos{
    margin: 5px 0;
}

/*Animacion*/

.mostrar .uno{
    transform: rotate(45deg) translate(5px, 5px);
}

.mostrar .dos{
opacity: 0;
}

.mostrar .tres{
    transform: rotate(-45deg) translate(6px, -7px);
}

.mostrar .Menu {
    visibility: visible;
    opacity: 1;
}

.letras{
    margin-top: 50px;
    margin-left: 50px;
    position: fixed;
    color: rgb(110, 105, 182);
    font-size: 70px;
}

.letras2{
    margin-top: 350px;
    margin-left: 50px;
    position: fixed;
    font-size: 70px;

}

.simbolo{
    margin-left: 44px;
    margin-top: 90px;
   
   padding-bottom: 3px;
   position: fixed;
}

.simbolo1{
    margin-left: 50px;
    margin-top: 60px;
   
   padding-bottom: 3px;
   position: fixed;
}

.iconos{
    
    text-decoration: none;
}

.video1{
    margin-top: 70px;
    margin-left: 900px;
    position: static;
    border-radius: 15px;
    
}

.video2{
    margin-left: 900px;
    cursor: pointer;
    border-radius: 15px;
    width: 125px;
    margin-top: 10px;
    
}

.video3{
    width: 128px;
    margin-top: 10px;
}

.video4{
    width: 128px;
    margin-top: 10px;
}

.video5{
    width: 128px;
    margin-top: 10px;
}

.video3, .video4, .video5{
    cursor: pointer;
    border-radius: 15px;
    
}

.futer{
    margin-top:50px;
}

.borde{
    border: aquamarine 5px solid;
}
  }
/*#Endregion*/

/*#Region Responsive celular*/

/*#Region Responsive celular*/
@media screen and (max-width: 500px){
    *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1400' height='800' viewBox='0 0 1400 800'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectángulo_9' data-name='Rectángulo 9' width='1400' height='800' rx='30' transform='translate(1354 1580)' fill='%23101010'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_3' data-name='Grupo 3' transform='translate(-988 -1080)'%3E%3Crect id='Rectángulo_10' data-name='Rectángulo 10' width='1400' height='800' rx='30' transform='translate(988 1080)' fill='%23101010'/%3E%3Cg id='Enmascarar_grupo_2' data-name='Enmascarar grupo 2' transform='translate(-366 -500)' clip-path='url(%23clip-path)'%3E%3Ccircle id='Elipse_3' data-name='Elipse 3' cx='447' cy='447' r='447' transform='translate(1234 1580)' fill='rgba(27,20,100,0.35)'/%3E%3Ccircle id='Elipse_4' data-name='Elipse 4' cx='309' cy='309' r='309' transform='translate(2329 1695)' fill='rgba(255,51,226,0.3)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    
        backdrop-filter: blur(60px);
        height: 100vh;
    }

    .main-nav{
    
        height: 50px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        position: sticky;
    }
    
    .Menu{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        margin-left: 40px;
        margin-top: 13px;
    }
    
    .menu__item{
        margin: 0 13px;
    }
    
    .Menu__link{
        color: white;
        text-decoration: none;
        
    }
    
    .Menu-Bar{
        width: 30px;
        margin: 0 10px;
        cursor: pointer;
    }
    
    .uno, .dos, .tres{
        
        width: 100%;
        background: white;
        height: 3px;
        transition: all 0.5s;
    }
    
    .dos{
        margin: 5px 0;
    }
    
    /*Animacion*/
    
    .mostrar .uno{
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .mostrar .dos{
    opacity: 0;
    }
    
    .mostrar .tres{
        transform: rotate(-45deg) translate(6px, -7px);
    }
    
    .mostrar .Menu {
        visibility: visible;
        opacity: 1;
    }
    
    .letras{
        margin-top: 10px;
        margin-left: 50px;
        position: fixed;
        color: rgb(110, 105, 182);
        font-size: 50px;
    }
    
    .letras2{
        margin-top: 225px;
        margin-left: 50px;
        position: fixed;
        font-size: 40px;
    
    }
    
    .simbolo{
        margin-left: 15px;
        margin-top: 70px;
       
       padding-bottom: 3px;
       position: fixed;
    }
    
    .simbolo1{
        margin-left: 20px;
        margin-top: 40px;
       
       padding-bottom: 3px;
       position: fixed;
    }
    
    .iconos{
        
        text-decoration: none;
    }
    
    .video1{
        height: 165px;
        margin-top: 300px;
        margin-left: 105px;
        position: static;
        border-radius: 15px;
        
    }
    
    .video2{
        margin-left: 105px;
        cursor: pointer;
        border-radius: 15px;
        width: 70px;
        margin-top: 10px;
        
    }
    
    .video3{
        width: 70px;
        margin-top: 10px;
    }
    
    .video4{
        width: 70px;
        margin-top: 10px;
    }
    
    .video5{
        width: 70px;
        margin-top: 10px;
    }
    
    .video3, .video4, .video5{
        cursor: pointer;
        border-radius: 15px;
        
    }
    
    .futer{
        margin-top:40px;
        font-size: 10px;
    }
    
    .borde{
        border: aquamarine 5px solid;
    }
}
/*#Endregion*/

/*#Region Responsive*/  

@media screen and (min-width: 501px) and (max-width: 750px) {
    *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1400' height='800' viewBox='0 0 1400 800'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectángulo_9' data-name='Rectángulo 9' width='1400' height='800' rx='30' transform='translate(1354 1580)' fill='%23101010'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_3' data-name='Grupo 3' transform='translate(-988 -1080)'%3E%3Crect id='Rectángulo_10' data-name='Rectángulo 10' width='1400' height='800' rx='30' transform='translate(988 1080)' fill='%23101010'/%3E%3Cg id='Enmascarar_grupo_2' data-name='Enmascarar grupo 2' transform='translate(-366 -500)' clip-path='url(%23clip-path)'%3E%3Ccircle id='Elipse_3' data-name='Elipse 3' cx='447' cy='447' r='447' transform='translate(1234 1580)' fill='rgba(27,20,100,0.35)'/%3E%3Ccircle id='Elipse_4' data-name='Elipse 4' cx='309' cy='309' r='309' transform='translate(2329 1695)' fill='rgba(255,51,226,0.3)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    
        backdrop-filter: blur(60px);
        height: 100vh;
    }

    .main-nav{
    
        height: 50px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        position: sticky;
    }
    
    .Menu{
        margin: 0;
        padding:0;
        list-style: none;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        margin-left: 160px;
        margin-top: 13px;
    }
    
    .menu__item{
        margin: 0 13px;
    }
    
    .Menu__link{
        color: white;
        text-decoration: none;
        
    }
    
    .Menu-Bar{
        width: 30px;
        margin: 0 10px;
        cursor: pointer;
    }
    
    .uno, .dos, .tres{
        
        width: 100%;
        background: white;
        height: 3px;
        transition: all 0.5s;
    }
    
    .dos{
        margin: 5px 0;
    }
    
    /*Animacion*/
    
    .mostrar .uno{
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .mostrar .dos{
    opacity: 0;
    }
    
    .mostrar .tres{
        transform: rotate(-45deg) translate(6px, -7px);
    }
    
    .mostrar .Menu {
        visibility: visible;
        opacity: 1;
    }
    
    .letras{
        margin-top: 10px;
        margin-left: 50px;
        position: fixed;
        color: rgb(110, 105, 182);
        font-size: 50px;
    }
    
    .letras2{
        margin-top: 225px;
        margin-left: 50px;
        position: fixed;
        font-size: 40px;
    
    }
    
    .simbolo{
        margin-left: 15px;
        margin-top: 50px;
       
       padding-bottom: 3px;
       position: fixed;
    }
    
    .simbolo1{
        margin-left: 20px;
        margin-top: 20px;
       
       padding-bottom: 3px;
       position: fixed;
    }
    
    .iconos{
        
        text-decoration: none;
    }
    
    .video1{
        height: 175px;
        margin-top: 300px;
        margin-left: 225px;
        position: static;
        border-radius: 15px;
        
    }
    
    .video2{
        margin-left: 225px;
        cursor: pointer;
        border-radius: 15px;
        width: 75px;
        margin-top: 10px;
        
    }
    
    .video3{
        width: 75px;
        margin-top: 10px;
    }
    
    .video4{
        width: 75px;
        margin-top: 10px;
    }
    
    .video5{
        width: 75px;
        margin-top: 10px;
    }
    
    .video3, .video4, .video5{
        cursor: pointer;
        border-radius: 15px;
        
    }
    
    .futer{
        margin-top:20px;
        font-size: 15px;
    }
    
    .borde{
        border: aquamarine 5px solid;
    }
}

/*#Endregion*/

@media screen and (min-width: 751px) and (max-width: 959px) {
    *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1400' height='800' viewBox='0 0 1400 800'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectángulo_9' data-name='Rectángulo 9' width='1400' height='800' rx='30' transform='translate(1354 1580)' fill='%23101010'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_3' data-name='Grupo 3' transform='translate(-988 -1080)'%3E%3Crect id='Rectángulo_10' data-name='Rectángulo 10' width='1400' height='800' rx='30' transform='translate(988 1080)' fill='%23101010'/%3E%3Cg id='Enmascarar_grupo_2' data-name='Enmascarar grupo 2' transform='translate(-366 -500)' clip-path='url(%23clip-path)'%3E%3Ccircle id='Elipse_3' data-name='Elipse 3' cx='447' cy='447' r='447' transform='translate(1234 1580)' fill='rgba(27,20,100,0.35)'/%3E%3Ccircle id='Elipse_4' data-name='Elipse 4' cx='309' cy='309' r='309' transform='translate(2329 1695)' fill='rgba(255,51,226,0.3)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    
        backdrop-filter: blur(60px);
        height: 100vh;
    }

    .main-nav{
    
        height: 50px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        position: sticky;
    }
    
    .Menu{
        margin: 0;
        padding:0;
        list-style: none;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        margin-left: 160px;
        margin-top: 13px;
    }
    
    .menu__item{
        margin: 0 13px;
    }
    
    .Menu__link{
        color: white;
        text-decoration: none;
        
    }
    
    .Menu-Bar{
        width: 30px;
        margin: 0 10px;
        cursor: pointer;
    }
    
    .uno, .dos, .tres{
        
        width: 100%;
        background: white;
        height: 3px;
        transition: all 0.5s;
    }
    
    .dos{
        margin: 5px 0;
    }
    
    /*Animacion*/
    
    .mostrar .uno{
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .mostrar .dos{
    opacity: 0;
    }
    
    .mostrar .tres{
        transform: rotate(-45deg) translate(6px, -7px);
    }
    
    .mostrar .Menu {
        visibility: visible;
        opacity: 1;
    }
    
    .letras{
        margin-top: 10px;
        margin-left: 50px;
        position: fixed;
        color: rgb(110, 105, 182);
        font-size: 50px;
    }
    
    .letras2{
        margin-top: 225px;
        margin-left: 50px;
        position: fixed;
        font-size: 40px;
    
    }
    
    .simbolo{
        margin-left: 15px;
        margin-top: 50px;
       
       padding-bottom: 3px;
       position: fixed;
    }
    
    .simbolo1{
        margin-left: 20px;
        margin-top: 20px;
       
       padding-bottom: 3px;
       position: fixed;
    }
    
    .iconos{
        
        text-decoration: none;
    }
    
    .video1{
        height: 180px;
        margin-top: 300px;
        margin-left: 225px;
        position: static;
        border-radius: 15px;
        
    }
    
    .video2{
        margin-left: 230px;
        cursor: pointer;
        border-radius: 15px;
        width: 75px;
        margin-top: 10px;
        
    }
    
    .video3{
        width: 75px;
        margin-top: 10px;
    }
    
    .video4{
        width: 75px;
        margin-top: 10px;
    }
    
    .video5{
        width: 75px;
        margin-top: 10px;
    }
    
    .video3, .video4, .video5{
        cursor: pointer;
        border-radius: 15px;
        
    }
    
    .futer{
        margin-top:15px;
        font-size: 15px;
    }
    
    .borde{
        border: aquamarine 5px solid;
    }
}